<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="site1" stopProcessing="true">
                    <match url=".*([a-z]+)" />
                    <conditions>
                       <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="index.php?{R:1}"/>
                </rule>
              
            </rules>
        </rewrite>
    </system.webServer>
</configuration>