{% extends "layout/default.twig" %}
{# Page d'accueil de l'administration du site #}
{% block content %}
{{ parent() }}
<section class="container p-3">
    <article class="card p-3 col-12">
        <div class="card-title">
            <h2 class="text-center">Bienvenue dans l'administration du site modèle !</h2>
        </div>
        <div class="card-body">
                <div class="text-center m-0">
                    <h3>Administation du site</h3>
                </div>
        </div>
    </article>

  
</section>
{{ paginate | raw }}
{% endblock content %}
