{% extends "layout/default.twig" %}
{# page de réinitialisation du password #}
{% block content %}
{{ parent() }}
<section class="container p-3">
    <form method="POST" name="{{title}}" action="">
    <h2 class="text-center">{% block title %}{{title}}{% endblock %}</h2>
        <p class="text-center">Pour récupérer votre compte, saisissez votre adresse mail de connexion pour recevoir votre mot de passe</p>
        <div class="row">
             <div class="form-group col-12 col-sm">
                <label for="mail">votre courriel</label>
                <input id="mail" class="form-control" type="email" name="mail" value="{{user.mail}}" required>
            </div>
        </div>
        <p class="text-center m-0">
            <button class="btn btn-success" required type="submit">Envoyer</button>
        </p>
    </form>
</section>
{% endblock content %}