{% extends "layout/default.twig" %}
{# page des mentions légales #}
{% block content %}
{{ parent() }}
<section class="container p-3">
    <article class="row">
        <div class="offset-sm-1 col-sm-3 col-12">
            <p><strong>Raison sociale : Site</strong></p>
            <p>capital social : 1000€</p>
            <p>SIRET : 111 222 333 00012</p>
            <p>RCS : 111 222 333 00012</p>
            <p>Id Fiscal : 111222333</p>
            <p>RM : 111 222 333</p>
            <p>N° TVA : FR55 411222111</p>
        </div>
        <div class="col-sm-3 col-12">
            <p><strong>Adresse</strong></p>
            <p>47 bd de la république</p>
            <p>03100 Montluçon</p>
            <p>France</p>
        </div>
        <div class="col-sm-3 col-12">
            <p><strong>Contact par mail</strong></p>
            <p>isabu77@gmail.com</p>
            <p>ou un message par la page CONTACT</p>
            <p>France</p>
            <p><strong>Tél</strong></p>
            <p>04 11 22 23 44</p>
        </div>
    </article>
</section>
{% endblock content %}
